.navbar {
    background-color: black;
    position: relative;
}
.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
.navbar-brand {
    padding-left: 3rem;
}
.dropdown, .btn {
    position: relative;
}
#BriefIntro {
    margin-top: 4.25em;
}
#flaskDrop {
    margin-right: 1em;
}
#oopDrop {
    margin-right: 2em;
}
.nav-item {
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav-item a {
    color: white;
    text-align: center;
    text-decoration: none;
}
.nav-item a:hover {
    background-color: slategray;
}

#calcClass, #operClass, #calcTest {
    margin: 2em;
}