<!DOCTYPE html>
<head>
	<meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kirwin - IS218</title>
    <!--Link for Main CSS -->
    <link href= "../static/css/main.css" rel = "stylesheet">
	<!-- BSv5 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
		crossorigin="anonymous">
	<!-- JS for BSv5 in case we need to use in the future -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</head>
<nav class = "navbar navbar-expand-lg navbar-dark">
	<a class = "navbar-brand" href = "#">Python - Flask</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
	<div class = "collapse navbar-collapse" id = "navbarNav">
        <ul class = "navbar-nav ms-auto">
            <li class = "nav-item"><a class = "nav-link" href = "index.html">Home</a></li>
		    <li class = "nav-item"><a class = "nav-link" href = "git.html">Git</a></li>
		    <li class = "nav-item"><a class = "nav-link" href = "docker.html">Docker</a></li>
		    <li class = "nav-item"><a class = "nav-link" href = "cicd.html">CI/CD</a></li>
	    </ul>
    </div>
</nav>

<div class = "container-fluid">
    <div class = "container-fluid">
        <p id = "pythonIntro">
            Python is a very simple and beginner-friendly programming application and is commonly used around the globe.
            It's used for data science, automation and scripting tasks that normally take hours to do manually. The way
            we use Python here in IS218 is through flask. Flask is a framework for building web applications, it provides
            the groundwork for building websites and allowing you to focus on building other add-ons of the website instead
            of wrapping your head on setting it up from scratch.
        </p>
    </div>
    <div class = "container-fluid">
        <!--Explain Pytest, simple pages and testing it, link to GitHub, link to flask and Blueprint doc and explain the
        file structure of this project-->
    </div>
</div>